body, #meal {
    /*font-family: sans-serif; */
    font-family: 'Handlee', cursive;
    background-image: url(img/ingredients.jpg);
}

input {
    margin-bottom: 20px;
}

#meal, #addDish {
    margin-left: 10px;
}

.dish-container {
    border: solid;
    padding: 1em;
    margin: 1em;
    background-color: white;
    opacity: 0.8;
}

.form-section, .component-container {
    margin-bottom: 1em;
}

.component-container {
    border-bottom: 1px solid #ccc;
}

.dish-info {
    border-bottom: 3px solid #ccc;
    padding-bottom: 1em;
}

#box {
    background-color: #88ce02;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#box2 {
    background-color: #2f59ce;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    z-index: 1;
}