body {
    font-family: sans-serif;
}

#box {
    background-color: #88ce02;
    position: absolute;
    top: 50%;
    right: 0;
    width: 800px;
    height: 100px;
    z-index: 1;
}

#box2 {
    background-color: #2f59ce;
    position: absolute;
    top: 40%;
    right: 0;
    width: 500px;
    height: 100px;
    z-index: 1;
}

#playhead {
    background-color: #343434;
    position: absolute;
    top: 0;
    height: 2000px;
    width: 5px;
    right: 100%
}