<div>
    <h1>Your Meal:</h1>
    <button ng-click = "addDish()">Add Dish</button>
    <div class = form-group>
        <div class = "dish-container" ng-repeat = "dish in meal track by $index">
            <input type="text" name = "dishName" placeholder = "{{dish.name}}" ng-model = "meal[$index].name"/>
            <button ng-click = "removeDish($index)">Remove {{dish.name}}</button>
            <div ng-repeat = 'component in dish.components track by $index'>
                <input type="text" name="componentName" placeholder = "{{component.name}}" ng-model="meal[$parent.$index].components[$index].name"/>
                <input type="text" name="time" placeholder = "{{component.time}}" ng-model="meal[$parent.$index].components[$index].time"/>
                <select name="methods" id="methods" ng-options = "m as m for m in methods" ng-model = "meal[$parent.$index].components[$index].method"></select>
                <button ng-click = "removeComponent($index, $parent.$index)">Remove {{component.name}}</button>
            </div>
            <button ng-click = "addComponent($index)">Add Component</button>
        </div>
    </div>
</div>